// 5
@import "values";

// 2, 3, 7
.main {
    background-color: tan;
    // Bonus 3.B
    @include flex(space-between, center);
    h1 {
        color: #ddd;
        // Bonus 1
        &:hover {
            @extend %center;
        }
    }
    h2 {
        background-color: $brown1;
    }
    h3 {
        color: $brown1;
    }
    // Bonus 3.C
    h4 {
        display: none;
    }
}
// 8-10, 12
.minor {
    background-color: silver;
    h1 {
        text-decoration: underline;
        @extend %center;
        // Bonus 2
        margin-bottom: calc(25px * 4);
    }
    h2 {
        text-decoration: line-through;
        @extend %center;
    }
}